.price {
    color: #4a4a4a;
    font-size: 14px;
    //开具完税凭证地区代码
  
    //添加更多商业品种
    .more,
    .close {
      .van-button {
        border: 0;
        font-size: 15px;
        font-family: PingFangSC;
        font-weight: 500;
        color: rgba(86, 142, 252, 1);
        line-height: 21px;
      }
      text-align: center;
    }
    // 日期统一样式
    // 即时起保按钮
    .van-button--small {
      position: absolute;
      right: 165px;
      top: 8px;
      border-radius: 4px;
    }
    .van-field__right-icon {
      position: absolute;
      right: 0px;
      top: 12px;
      font-size: 22px;
    }
    .van-field__control {
      position: absolute;
      left: 140px;
      top: 12px;
      // color: #f68900;
    }
    //钱
    .money {
      color: #f68900;
    }
    //复选框按钮
    .van-icon-success {
      border-radius: 3px;
    }
    //标题统一样式
    .container {
      font-family: PingFangSC;
      .van-cell__title {
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 500;
        color: rgba(74, 74, 74, 1);
        line-height: 25px;
        padding: 12px 0;
        float: left;
      }
      .btn {
        font-size: 15px;
        font-weight: 500;
        color: rgba(86, 142, 252, 1);
        line-height: 21px;
        float: right;
        border: 0;
        padding: 12px 0;
      }
    }
    .van-icon-arrow-down {
      line-height: 44px;
    }
    .item {
      padding: 2px 15px;
    }
    //内容统一样式
    input {
      border: 0;
    }
    .van-cell__title {
      margin-right: 15px;
    }
    // 预核保意见
    .container {
      margin-bottom: 15px;
      background: #fff;
      .pre-verification-txt {
        background: #fff;
        font-size: 14px;
        font-family: PingFangSC;
        font-weight: 400;
        color: rgba(74, 74, 74, 1);
        line-height: 24px;
        padding: 13px 15px;
        text-align: justify;
      }
    }
    //单元格格式
    .cells {
      font-family: PingFangSC;
      .van-cell {
        font-size: 15px;
        font-weight: 400;
        color: rgba(70, 70, 70, 1);
        line-height: 21px;
        padding: 0 15px;
      }
      .van-cell__title {
        font-size: 15px;
        font-weight: 400;
        color: rgba(70, 70, 70, 1);
        line-height: 21px;
        flex: 160px 0;
      }
      .van-cell__value {
        text-align: left;
        margin-left: -70px;
        padding-top: 10px;
      }
      .s1 {
        margin-right: 22px;
      }
    }
    //车辆信息
    .car-msgInfo {
      .van-field__control {
        margin-left: -140px;
      }
      // .carNumber {
      //   padding-top: 0;
      //   line-height: 21px;
      //   .van-cell__value {
      //     padding-top: 0;
      // //   }
      //   input {
      //     background: #fff;
      // //   }
      // .van-icon {
      //   margin-right: 10px;
      // }
      // }
  
      //开关按钮
      .year {
        padding-right: 0;
      }
      .van-icon-notes-o {
        font-size: 22px;
      }
    }
    //日期图标
    .van-icon-notes-o {
      font-size: 22px !important;
      float: right;
    }
    .van-cell__value--alone {
      padding: 0 !important;
    }
    //车主信息
    .carMaster-msg {
      .van-field__control {
        margin-left: -140px;
      }
    }
    //投保方案
    .insurance-scheme {
      font-family: PingFangSC;
      .van-switch {
        margin-top: 12px;
      }
      color: #464646;
      .com-title {
        overflow: hidden;
        padding: 13px 15px;
        .van-checkbox {
          background: rgba(255, 255, 255, 1);
          font-size: 16px;
          font-weight: 500;
          color: rgba(70, 70, 70, 1);
          line-height: 22px;
        }
        .left {
          float: left;
          font-size: 16px;
          font-weight: 500;
          color: rgba(70, 70, 70, 1);
          line-height: 24px;
          padding-top: 3px;
        }
        .right {
          float: right;
          .money {
            font-size: 17px;
            font-weight: 500;
            color: rgba(246, 137, 0, 1);
            line-height: 24px;
          }
        }
      }
      //交强险
      //起保日期
      .insurance-msg {
        .insurance-data {
          position: relative;
          .van-field__control {
            // padding-right:!importantpx ;
            position: absolute;
            left: 50%;
            top: 25%;
          }
        }
  
        .van-field {
          position: relative;
        }
        // 起保日期
        .van-field__body {
          text-align: left;
        }
        //已完税弹出信息
        .van-field__label {
          flex: 120px 0 !important;
        }
        //正常缴税提示信息
        .van-cell__label {
          color: red;
          width: 120%;
        }
        .van-cell {
          .title-style {
            size: large;
          }
          span {
            flex: 120px;
          }
          // padding: 0 15px;
          .van-icon-notes-o {
            padding-top: 15px;
          }
          .van-button {
            // padding: 4px 12px;
            // margin-left: 20px;
            // line-height: 1;
            position: absolute;
            left: 10px;
            top: 20%;
          }
          .van-icon-notes-o {
            padding-top: 0;
          }
        }
      }
      //保额
      .coverage {
        height: 70px;
        .money {
          padding-right: 0 !important;
        }
      }
    }
    //车船税
    .ship {
      .cityCode {
        position: relative;
        .van-cell__value {
          span {
            position: absolute;
            left: 30%;
          }
        }
      }
    }
    //商业险
    .buss-insurance {
      .bussines-msg {
        .bussines-data {
          position: relative;
          .van-field__control {
            // padding-right:!importantpx ;
            position: absolute;
            left: 50%;
            top: 25%;
          }
        }
        .van-button {
          position: absolute;
          left: 10px;
          top: 20%;
        }
        .van-field__label {
          flex: 120px 0;
        }
      }
      .s2 {
        flex: 125px 0 !important;
        padding-top: 12px !important;
      }
      .second {
        box-sizing: border-box;
        display: flex;
        padding: 0 15px 7px 15px;
        font-size: 15px;
        font-family: PingFangSC;
        font-weight: 400;
        color: rgba(70, 70, 70, 1);
        line-height: 21px;
        span {
          flex: 1;
          padding-top: 2px;
          position: relative;
        }
        .van-checkbox {
          flex: 1;
        }
      }
      .coverage {
        padding: 0 15px;
        .money {
          float: right;
          padding: 17px 17px 0 0;
          font-size: 17px;
        }
        input {
          border: 1px solid #c7c7cc;
          margin: 8px 0 8px 15px;
          padding: 5px 0 5px 19px;
          width: 35%;
          border-radius: 4px;
        }
      }
      .insures {
        padding-top: 0;
        // vertical-align: middle;
        .van-checkbox {
          line-height: 21px;
          padding: 12px 0 20px 0;
        }
        .insures-right {
          position: relative;
          .money {
            position: absolute;
            top: 36px;
            right: 17px;
          }
        }
      }
      .import-btn {
        // position: absolute;
        // top: 12px;
        // left: 12px;
        flex: 1;
        padding-top: 0;
      }
    }
    .van-divider {
      margin: 0;
      padding: 0 15px;
    }
    //确认报价
    .offer {
      padding: 15px 15px 30px;
      background: #fff;
      .offer-left {
        float: left;
        .p1 {
          font-size: 23px;
          font-family: PingFangSC;
          font-weight: 500;
          color: rgba(70, 70, 70, 1);
          line-height: 33px;
        }
        .insures {
          position: relative;
          p {
            font-size: 12px;
            font-family: PingFangSC;
            font-weight: 400;
            color: rgba(70, 70, 70, 1);
            line-height: 16px;
            margin-right: 30px;
          }
          .icon{
            position: absolute;
            right: 0;
            top: 0;
            font-size:18px;
          }
        }
      }
      .offer-right {
        float: right;
        margin: 20px 5px 0 0;
        .van-button__text {
          padding: 0 32px;
        }
      }
    }
    //保单信息
    .warranty {
      padding: 15px 15px;
      background: #fff;
      margin-bottom: 15px;
      p {
        font-size: 12px;
        font-family: PingFangSC;
        font-weight: 400;
        color: rgba(245, 86, 86, 1);
        line-height: 26px;
      }
      .van-button__text {
        padding-top: 10px;
      }
      .warranty-btn {
        display: flex;
        padding: 0 7px;
  
        .van-button {
          flex: 1;
          height: 30px;
          line-height: 30px;
          background: rgba(255, 255, 255, 1);
          border-radius: 4px;
          border: 1px solid rgba(86, 142, 252, 1);
        }
      }
    }
  }
  .active2{
    border: 1px solid rgba(86, 142, 252, 1) !important;
    background:  rgba(86, 142, 252, 1) !important;
  }
  .showPopupSale{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    h2{
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 5px;
      // line-height: 20px;
    }
    p{
      line-height: 25px;
    }
    input{
      border: 1px solid #95c4fe;
      height: 28px;
      width: 200px;
      margin: 20px 0 5px 0;
      border-radius: 3px;
    }
    .number{
      font-size:8px;
      color: red;
      padding-left: 0;
     
    }
    .van-button{
      margin-top: 10px;
      padding: 0 30px;
      border-radius: 5px;
      height: 40px;
      line-height: 40px;
    }
  }
